[submodule "sys/stable-diffusion.cpp"]
	path = sys/stable-diffusion.cpp
	url = https://github.com/leejet/stable-diffusion.cpp
[submodule "dataset"]
	path = dataset
	url = git@hf.co:datasets/introspector/introspector-images
